//! **************************************************************************
// Written by: Map K.39 on Mon Jul 11 23:48:24 2011
//! **************************************************************************

SCHEMATIC START;
PROHIBIT = SITE "AL6";
PROHIBIT = SITE "AG9";
PROHIBIT = SITE "AH9";
PROHIBIT = SITE "AK6";
PROHIBIT = SITE "AK7";
PROHIBIT = SITE "AK28";
PROHIBIT = SITE "AK29";
PROHIBIT = SITE "AH26";
PROHIBIT = SITE "AG26";
PROHIBIT = SITE "AL29";
PROHIBIT = SITE "AL30";
COMP "rgmii_0_txc" LOCATE = SITE "AF25" LEVEL 1;
COMP "phy_mdio" LOCATE = SITE "AL33" LEVEL 1;
COMP "rgmii_0_txd<0>" LOCATE = SITE "AL28" LEVEL 1;
COMP "rgmii_0_txd<1>" LOCATE = SITE "AM28" LEVEL 1;
COMP "rgmii_0_txd<2>" LOCATE = SITE "AE24" LEVEL 1;
COMP "rgmii_1_rxc" LOCATE = SITE "D18" LEVEL 1;
COMP "rgmii_0_txd<3>" LOCATE = SITE "AF24" LEVEL 1;
COMP "rgmii_1_txc" LOCATE = SITE "AJ24" LEVEL 1;
COMP "rgmii_1_tx_ctl" LOCATE = SITE "AL24" LEVEL 1;
COMP "rgmii_1_txd<0>" LOCATE = SITE "AE22" LEVEL 1;
COMP "rgmii_1_txd<1>" LOCATE = SITE "AF22" LEVEL 1;
COMP "rgmii_1_txd<2>" LOCATE = SITE "AJ22" LEVEL 1;
COMP "rgmii_0_rx_ctl" LOCATE = SITE "AK25" LEVEL 1;
COMP "rgmii_1_txd<3>" LOCATE = SITE "AK22" LEVEL 1;
COMP "rgmii_0_rxd<0>" LOCATE = SITE "AL26" LEVEL 1;
COMP "rgmii_0_rxd<1>" LOCATE = SITE "AM26" LEVEL 1;
COMP "rgmii_0_rxd<2>" LOCATE = SITE "AJ26" LEVEL 1;
COMP "rgmii_0_rxd<3>" LOCATE = SITE "AK26" LEVEL 1;
COMP "core_clk" LOCATE = SITE "D17" LEVEL 1;
COMP "rgmii_1_rx_ctl" LOCATE = SITE "AG22" LEVEL 1;
COMP "rgmii_1_rxd<0>" LOCATE = SITE "AK27" LEVEL 1;
COMP "rgmii_1_rxd<1>" LOCATE = SITE "AL27" LEVEL 1;
COMP "gtx_clk" LOCATE = SITE "J17" LEVEL 1;
COMP "rgmii_1_rxd<2>" LOCATE = SITE "AG24" LEVEL 1;
COMP "rgmii_1_rxd<3>" LOCATE = SITE "AH24" LEVEL 1;
COMP "phy_mdc" LOCATE = SITE "AL34" LEVEL 1;
COMP "rgmii_0_rxc" LOCATE = SITE "H18" LEVEL 1;
COMP "rgmii_0_tx_ctl" LOCATE = SITE "AG25" LEVEL 1;
COMP "BUFGMUX_TXCLK" LOCATE = SITE "BUFGMUX2S" LEVEL 1;
PIN rgmii_1_io/rgmii_txd_out0/FF0_pins<1> = BEL
        "rgmii_1_io/rgmii_txd_out0/FF0" PINNAME CK;
PIN rgmii_1_io/rgmii_txd_out0/FF1_pins<1> = BEL
        "rgmii_1_io/rgmii_txd_out0/FF1" PINNAME CK;
PIN rgmii_1_io/rgmii_txd_out1/FF0_pins<1> = BEL
        "rgmii_1_io/rgmii_txd_out1/FF0" PINNAME CK;
PIN rgmii_1_io/rgmii_txd_out1/FF1_pins<1> = BEL
        "rgmii_1_io/rgmii_txd_out1/FF1" PINNAME CK;
PIN rgmii_1_io/rgmii_txd_out2/FF0_pins<1> = BEL
        "rgmii_1_io/rgmii_txd_out2/FF0" PINNAME CK;
PIN rgmii_1_io/rgmii_txd_out2/FF1_pins<1> = BEL
        "rgmii_1_io/rgmii_txd_out2/FF1" PINNAME CK;
PIN rgmii_1_io/rgmii_txd_out3/FF0_pins<1> = BEL
        "rgmii_1_io/rgmii_txd_out3/FF0" PINNAME CK;
PIN rgmii_1_io/rgmii_txd_out3/FF1_pins<1> = BEL
        "rgmii_1_io/rgmii_txd_out3/FF1" PINNAME CK;
PIN rgmii_0_io/rgmii_txd_out0/FF0_pins<1> = BEL
        "rgmii_0_io/rgmii_txd_out0/FF0" PINNAME CK;
PIN rgmii_0_io/rgmii_txd_out0/FF1_pins<1> = BEL
        "rgmii_0_io/rgmii_txd_out0/FF1" PINNAME CK;
PIN rgmii_0_io/rgmii_txd_out1/FF0_pins<1> = BEL
        "rgmii_0_io/rgmii_txd_out1/FF0" PINNAME CK;
PIN rgmii_0_io/rgmii_txd_out1/FF1_pins<1> = BEL
        "rgmii_0_io/rgmii_txd_out1/FF1" PINNAME CK;
PIN rgmii_0_io/rgmii_txd_out2/FF0_pins<1> = BEL
        "rgmii_0_io/rgmii_txd_out2/FF0" PINNAME CK;
PIN rgmii_0_io/rgmii_txd_out2/FF1_pins<1> = BEL
        "rgmii_0_io/rgmii_txd_out2/FF1" PINNAME CK;
PIN rgmii_0_io/rgmii_txd_out3/FF0_pins<1> = BEL
        "rgmii_0_io/rgmii_txd_out3/FF0" PINNAME CK;
PIN rgmii_0_io/rgmii_txd_out3/FF1_pins<1> = BEL
        "rgmii_0_io/rgmii_txd_out3/FF1" PINNAME CK;
TIMEGRP clk_tx_gmii = PIN "rgmii_1_io/rgmii_txd_out0/FF0_pins<1>" PIN
        "rgmii_1_io/rgmii_txd_out0/FF1_pins<1>" PIN
        "rgmii_1_io/rgmii_txd_out1/FF0_pins<1>" PIN
        "rgmii_1_io/rgmii_txd_out1/FF1_pins<1>" PIN
        "rgmii_1_io/rgmii_txd_out2/FF0_pins<1>" PIN
        "rgmii_1_io/rgmii_txd_out2/FF1_pins<1>" PIN
        "rgmii_1_io/rgmii_txd_out3/FF0_pins<1>" PIN
        "rgmii_1_io/rgmii_txd_out3/FF1_pins<1>" PIN
        "rgmii_0_io/rgmii_txd_out0/FF0_pins<1>" PIN
        "rgmii_0_io/rgmii_txd_out0/FF1_pins<1>" PIN
        "rgmii_0_io/rgmii_txd_out1/FF0_pins<1>" PIN
        "rgmii_0_io/rgmii_txd_out1/FF1_pins<1>" PIN
        "rgmii_0_io/rgmii_txd_out2/FF0_pins<1>" PIN
        "rgmii_0_io/rgmii_txd_out2/FF1_pins<1>" PIN
        "rgmii_0_io/rgmii_txd_out3/FF0_pins<1>" PIN
        "rgmii_0_io/rgmii_txd_out3/FF1_pins<1>";
TIMEGRP tx_clock_gmii = TIMEGRP "clk_tx_gmii";
TS_tx_clk_gmii = PERIOD TIMEGRP "tx_clock_gmii" 8 ns HIGH 50%;
SCHEMATIC END;

